/nbproject/
/TaunCaptureTheFlag/nbproject/private/
/build.xml
/manifest.mf
/TauncraftServerManager/nbproject/private/
/build/
/dist/
/TauncraftSeverManager/nbproject/private/
/Bergler/nbproject/private/